django
gearman
django_compressor
-e hg+http://bitbucket.org/ubernostrum/django-contact-form/#egg=django-contact-form
-e git://github.com/fwenzel/django-gearman.git#egg=django-gearman
-e hg+http://bitbucket.org/ubernostrum/django-registration/#egg=django-registration
# not working
#cython
#-e git://github.com/metal3d/python-libquvi.git#egg=quvi
