<VirtualHost *:80>
    WSGIScriptReloading On
    WSGIDaemonProcess %PROJECT%-%ENV%
    WSGIProcessGroup %PROJECT%-%ENV%
    WSGIApplicationGroup %PROJECT%-%ENV%
    WSGIPassAuthorization On

    WSGIScriptAlias / %ROOT%/%PROJECT%/%PROJECT%/wsgi.py

    ServerName %DOMAIN%

    # Audio
    AddType audio/ogg                      oga ogg
    AddType audio/mp4                      m4a f4a f4b

    # Video
    AddType video/ogg                      ogv
    AddType video/mp4                      mp4 m4v f4v f4p
    AddType video/webm                     webm
    AddType video/x-flv                    flv

    <Location "/">
        Order Allow,Deny
        Allow from all
    </Location>

    <Location "/static">
        SetHandler None
    </Location>
    Alias /static %ROOT%/%PROJECT%/static

    <Location "/media">
        SetHandler None
        AddType video/webm .webm

    </Location>
    Alias /media %ROOT%/%PROJECT%/media

    Alias /robots.txt %ROOT%/%PROJECT%/static/robots.txt
    Alias /favicon.ico %ROOT%/%PROJECT%/static/favicon.ico

    ErrorLog /var/log/apache2/%DOMAIN%_error.log
    LogLevel info
    CustomLog /var/log/apache2/%DOMAIN%_access.log combined
</VirtualHost>
