{% extends "base.html" %}

{% block content %}
<div class="page-header">
  <h1>Videos available</h1>
</div>
<div class='media-summary'>
  <img class='thumbnail' src='{{ quvi.thumbnail_url }}' />
    <h2>{{ quvi.title }}</h2>
    <a class='btn btn-primary btn-lg' id='import-btn' href='{% url "launch_import" %}'>Import</a>
</div>

{% if quvi.dump_type == 'PLAYLIST' %}
<div class='playlist-summary'>
  <h2>Playlist content</h2>
  <ul>
    {% for item in quvi.playlist %}
    <li>
    <input type='checkbox' id='playlist-item-{{ forloop.counter }}'>
    <label for='playlist-item-{{ forloop.counter }}'>{{ item.title }}</label>
    <a href='#' class='btn btn-info btn-sm pull-right'>Import</a>
    </li>
    {% endfor %}
  </ul>
{% endif %}
</div>
{% endblock %}

{% block javascript %}
  {{ block.super }}
  <script>
  $('#import-btn').on('click', function () {
    launchImport();
  });
  </script>
{% endblock %}
