{% extends "base.html" %}

{% block content %}
<div id="video-monitor-container">
  <div class='progress-box' id="video-monitor" data-video-id="{{ video.id }}">
    <h1>Downloading your video</h1>
    <div class="progress progress-stripped">
      <div id="download-progress" class="progress-bar progress-bar-info" 
            role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        0%
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block javascript %}
{{ block.super }}
<script>
  var poll_url = "{% url "poll_download" %}";
  var poll_id = null;
  var PollDownload = function(task_id) {
    $.ajax({
      url: poll_url,
      type: "GET",
      data: {'task-id': "{{ task_id }}"}
    }).done(function(task) {
      var percent = 0;
      if(task == "SUCCESS") {
        clearInterval(poll_id);
        percent = 100;
      } else if(task.percent) {
        percent = task.percent;
      }
      $("#download-progress").prop('aria-valuenow', percent);
      $("#download-progress").html(percent + '%');
      $("#download-progress").css('width', percent + '%');
    })
  };
  $(function() {
    poll_id = window.setInterval(PollDownload, 1000);
  });
</script>
{% endblock %}
