{% if videos %}

<div class="span12">
<ul class="thumbnails">
  {% for video in videos %}
    <li class="span2">
      <div class="thumbnail">
        {% if video.thumbnail %}
          <img src="{{ MEDIA_URL }}thumbnails/{{ video.thumbnail }}"/>
        {% else %}
            
        {% endif %}
        <div class="caption">
          <h5>{{ video.page_title }}</h5>
          <div class="btn-group">
            <a class="btn btn-mini" href="{% url play filename=video.filename %}">Play</a>
            <a class="btn btn-mini" href="{% url convert video_id=video.id %}">Convert</a>
          </div>
        </div>
      </div>
    </li>
  {% endfor %}
</ul>
</div>
{% else %}
  <div class="span12">
    No videos available :(
  </div>
{% endif %}
