{% load url from future %}

<div class="span12">
  {% if videos %}
  <ul class="thumbnails">
    {% for video in videos %}
      <li class="col-sm-3">
        <a href="{% url "play" filename=video.filename %}">
          <img class="img-thumbnail" title="{{ video.page_title }}" src="{{ MEDIA_URL }}{{ video.thumbnail }}" >
          <div class="caption">
            <strong title="{{ video.page_title }}">{{ video.page_title }}</strong>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>
      No videos available :(
    </p>
  {% endif %}
</div>
