{% extends "base.html" %}
{% load url from future %}
{% block content %}
<section>
<div class="page-header">
  <h1>Recent videos</h1>
</div>
<div class="row">
  {% include "_thumbnails.html" %}
</div>
</section>
<form class="import-form" action="{% url 'analyze_url' %}" method="get" role="form">
  <legend>Enter the url of the video you want to save</legend>
  <div class="form-group">
    <input type="text" class='form-control' name="url" placeholder="URL of the video" />
  </div>
  <input type="submit" value="Save!" class='btn' />
</form>
{% endblock %}
