{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{ STATIC_URL }}mediaelement/mediaelementplayer.css" type="text/css" media="screen" />
{% endblock %}
{% block content %}
  <h1>{{ video.title }}</h1>
  <div class="video-background">
    <video width=720 height=480>
    {% if video.has_webm %}
      <source src="{{ MEDIA_URL }}videos/{{ video.filename }}.webm" type="video/webm">
    {% endif %}
    {% if video.has_mp4 %}
      <source src="{{ MEDIA_URL }}videos/{{ video.filename }}.mp4" type="video/mp4">
    {% endif %}
      Your browser does not support the <code>video</code> element.
    </video>
  </div>
  <div class="btn-group">
    <a class="btn btn-mini" href="{% url 'convert' video_id=video.id %}">Convert</a>
    <a class="btn btn-mini" href="{% url 'delete' video_id=video.id %}">Delete</a>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ STATIC_URL }}mediaelement/mediaelement-and-player.js"></script>
<script type="text/javascript" charset="utf-8">
  $('video').mediaelementplayer({
    defaultVideoWidth: 720,
    defaultVideoHeight: 480,
    videoWidth: -1,
    videoHeight: -1,
    audioWidth: 400,
    audioHeight: 30,
    startVolume: 0.8,
    loop: false,
    enableAutosize: true,
    features: ['playpause','progress','current','duration','tracks','volume','fullscreen'],
    alwaysShowControls: false,
    iPadUseNativeControls: false,
    iPhoneUseNativeControls: false,
    AndroidUseNativeControls: true,
    alwaysShowHours: false,
    showTimecodeFrameCount: false,
    framesPerSecond: 25,
    enableKeyboard: true,
    pauseOtherPlayers: true,
    keyActions: [],
    error: function () {
      alert("Error while loading video");
    }
  });
</script>
{% endblock %}
